@import url("https://fonts.googleapis.com/css2?family=Labrada&display=swap");

:root {
  --first-color: #0b3f64;
  --project-hover-color: #0b3f6487;
  --first-font-color: #000000d9;
  --second-font-color: #000000d9;
}

body {
  font-family: "Labrada", serif;
  margin: 0;
  padding: 1rem;
  background: var(--first-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='franctalNoise' baseFrequency='1.7' %3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'%3E%3C/rect%3E%3Ch1%3Esadas%3C/h1%3E%3C/svg%3E");
}

.page-container {
  background-color: rgba(255, 255, 255, 0.45);
  font-size: clamp(1rem, 1.6vw, 1.4rem);
  display: flex;
  flex-direction: column;
  color: white;
  letter-spacing: 1px;
  border-radius: 10px;
}

.name-container {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 3px;
  padding: 1rem 2rem;
}

header img {
  height: 120px;
  border: 3px solid rgba(255, 255, 255, 0.85);
  border-radius: 50%;
}

header h1 {
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 2.3rem);
  margin: 0 0 0.5rem 0;
  padding: 0.3rem 0 0 0.6rem;
  line-height: 1.8rem;
}

header p {
  text-align: center;
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  margin: 0;
  padding: 0 0 0.3rem 0.6rem;
  font-style: oblique;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

.navigation li {
  display: flex;
  list-style: none;
  padding: 0.3rem 0.5rem;
}

.navlink {
  width: 100%;
  font-weight: 600;
  text-decoration: none;
  color: black;
  padding: 0.2rem 1rem 0.5rem 1rem;
  border-radius: 5px;
}

.navlinks {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.color-btns {
  align-items: center;
}

.color-btn {
  width: clamp(13px, 2vw, 25px);
  height: clamp(13px, 2vw, 25px);
  border-radius: 3px;
  border: none;
  margin: 0 clamp(0.1px, 1vw, 10px);
}

.color-btn:hover {
  cursor: pointer;
}

#purple {
  background-color: purple;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#black {
  background-color: #000000;
}

main {
  margin: 0 auto;
  display: flex;
  flex: 1;
  width: 90%;
  justify-content: center;
  min-height: 35vh;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: clamp(2px, 2vw, 1rem);
}

footer a {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: black;
  cursor: pointer;
}

footer a:hover {
  color: rgb(255, 255, 0);
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  body {
    margin: 3rem 0;
    padding: clamp(1rem, 2vw, 5rem) clamp(2px, 15vw, 30rem) 0;
  }

  .main {
    padding-top: 3rem;
  }

  header {
    margin: 1rem 2rem;
  }
  header img {
    height: 150px;
  }

  header p,
  header h1 {
    text-align: start;
    margin-left: 1rem;
  }

  main {
    padding-top: 1rem;
    padding-bottom: clamp(1rem, 2vw, 5rem);
  }

  .navlinks {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
  }
}

@media only screen and (min-width: 2000px) {
  body {
    margin: 3rem 0;
    padding: clamp(1rem, 4vw, 5rem) clamp(2px, 25vw, 30rem) 0;
  }

  .page-container {
    min-height: fit-content;
  }
}
